NET "BCD[0]" loc = "T10";
NET "BCD[1]" loc = "T9";
NET "BCD[2]" loc = "V9";
NET "BCD[3]" loc = "M8";
NET "a" loc = "T17";
NET "b" loc = "T18";
NET "c" loc = "U17";
NET "d" loc = "U18";
NET "e" loc = "M14";
NET "f" loc = "N14";
NET "g" loc = "L14";